
html,body {
  position: relative;
  overflow-x: hidden;
  background:  url('/static/images/dodge.jpg');
  width: 100% !important;
  height: 100vh;
  position: relative;
  background-position: center;
  background-attachment: scroll;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0; /* Add margin: 0 to reset default margin */
  padding: 0; /* Add padding: 0 to reset default padding */
}
  /* Reset some default margin and padding */
* {
  box-sizing: border-box;
 
}
  
  /* Optional: Add some basic styling for the cards */
  .card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    width: 200px; /* Adjust the width as needed */
    height: 200px;
    background-color: rgb(138, 31, 31);
  }
  
  /* Flexbox layout for horizontally organizing the cards */
  .card-container {
    padding-top: 160px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

/* Media Query for phone-sized screens */
@media (max-width: 768px) {
  /* Adjust styles for small screens here */
  .card-container {
    flex-direction: column; /* Stack the cards vertically on small screens */
    align-items: center; /* Center the cards horizontally on small screens */
    padding: 20px; /* Reduce padding for better spacing on small screens */
  }

  .card {
    margin-bottom: 20px; /* Add spacing between the stacked cards */
  }
}