{% load static %} 
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INVESTMENTS</title>
  <link rel = "stylesheet" href = "{% static 'css/main.css' %}">

</head>
<body>
  <h1 style="text-align: center; padding-top: 10px; font-size:60px; font-weight: 250;">HELLO DEMMA</h1>
  <div class="card-container">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h1 class="card-title"><b>Total Deposit</b> : UGX {{ total_deposit }}</h1>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h1 class="card-title">Interest: UGX {{ interest }}</h1>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h1 class="card-title"><b>Running Investments: UGX {{ running_investments }}</h1>
          </div>
    </div>
  </div>
</body>
</html>
